@font-face {
  font-family: 'handlee';
  src: url('../fonts/Handlee.ttf');
}


body {
	background-color: #DBDDF2 ;
	background-size: 400% 400%;
  transition: color 300ms ease;
}

/* For ALL */
.nextandprevBtn{
  cursor: pointer !important;
  background-color: inherit;
  border: 0px;
  font-size: 120%;
  font-family: 'Handlee';
}
.nextandprevBtn:hover{
  color: rgb(39, 39, 39) !important;
  transition: 300ms;
}

.nextandprevDetailsBtn{
  text-align: center;
  min-width: 20px;
  width: 5%;
  height: 100%;
  float: left;
  font-size: larger;
}

.mainDetailingSamples{
  text-align: center;
  width: 90%;
  height: 100%;
  float: left;
}

.nextandprevBtnForDetails{
  cursor: pointer !important;
  background-color: inherit;
  border: 0px;
  font-size: 200%;
  font-family: 'Handlee';
  margin:auto
}
.nextandprevBtnForDetails:hover{
  color: rgb(39, 39, 39) !important;
  transition: 300ms;
}

/* Content of each cart */
.demoLinkRight{
  position: absolute; 
  right:10px; 
  bottom: 5px; 
  font-size: 150%;
}
.demoLinkLeft{
  position: absolute; 
  left:10px; 
  bottom: 5px; 
  font-size: 150%;
}
.hrInCarts{
  position: absolute; 
  left:5px; 
  bottom: 35px; 
  right: 5px;
}





/* For Tablets */
@media only screen and (min-width: 200px) {
  .mainTitle{
    margin-top: 40px;
    text-align: center; 
    align-content: center;
  }
  
  .mainmenu{
    margin-left: 3%;
    font-size: 300%;
    text-decoration: underline overline;
    display: inline-block;
    cursor: pointer;
  }

  .mainmenu:hover{
    color: blue;
    transition: 300ms;
  }

  .mainImg{
    min-width: 250px;
    width: 50%;
    max-width: 260px;
    z-index: -1 !important;
  }

  .mainTextDiv{
    width: 50%; 
    margin-top: 10px; 
    margin-left: 30px;
    float: left; 
    font-size: 230%;
  }

  .mainImgDiv{
    width: 100%;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 300%;
  }

  .detailsDiv{
    margin: auto;
    margin-top:8%;
    width: 80%;
    height: 88%;

  }


  .carts{
    width: 100%;
    height: 85%;
    overflow-y: scroll;
  }
  .cart{
    width: 97%;
    margin-top: 20px;
    height: 30%;
    border: 10px solid rgb(39, 39, 39);
    border-radius: 50px;
    float: left;
    margin-right: 1%;
    text-align: center;
    position: relative
  }
  .cart:hover{
    border-color: #23d5ab;
    transition: 200ms;
  }

  .titleForEachSample{
    font-size: 250%;
    text-decoration: underline;
  }

  .txtForEachSample{
    text-align: justify; 
    max-width: inherit; 
    max-height: 70%; 
    margin: 5px; 
    font-size: 230%;
    overflow-y: auto;
  }


}

@media only screen and (min-width: 1000px){
  .mainTitle{
    margin-top: 40px;
    text-align: center; 
    align-content: center;
  }
  
  .mainmenu{
    margin-left: 3%;
    font-size: 150%;
    text-decoration: underline overline;
    display: inline-block;
    cursor: pointer;
  }

  .mainmenu:hover{
    color: blue;
    transition: 300ms;
  }

  .mainImg{
    min-width: 210px;
    width: 12%;
    z-index: -1 !important;
  }

  .mainTextDiv{
    width: 50%; 
    margin-top: 10px; 
    margin-left: 30px;
    float: left; 
    font-size: 230%;
  }

  .mainImgDiv{
    width: 100%;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 300%;
  }

  .detailsDiv{
    margin: auto;
    margin-top:2%;
    width: 80%;
    height: 60%;
  }


  .carts{
    width: 100%;
    height: 75%;
    overflow-y: scroll;
  }
  .cart{
    width: 45%;
    margin-top: 20px;
    height: 70%;
    border: 4px solid rgb(39, 39, 39);
    border-radius: 15px;
    float: left;
    margin-right: 1%;
    text-align: center;
    position: relative
  }
  .cart:hover{
    border-color: #23d5ab;
    transition: 200ms;
  }

  .txtForEachSample{
    text-align: justify; 
    max-width: inherit; 
    max-height: 100px; 
    margin: 5px; 
    font-size: 120%;
    overflow-y: auto;
  }
  .titleForEachSample{
    font-size: 250%;
    text-decoration: underline;
  }
}



@media only screen and (min-width: 1500px){
  .mainTitle{
    margin-top: 40px;
    text-align: center; 
    align-content: center;
  }
  
  .mainmenu{
    margin-left: 3%;
    font-size: 150%;
    text-decoration: underline overline;
    display: inline-block;
    cursor: pointer;
  }

  .mainmenu:hover{
    color: blue;
    transition: 300ms;
  }

  .mainImg{
    width: 15%;
    z-index: -1 !important;
  }

  .mainTextDiv{
    width: 50%; 
    margin-top: 10px; 
    margin-left: 30px;
    float: left; 
    font-size: 230%;
  }

  .mainImgDiv{
    width: 100%;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 300%;
  }

  .detailsDiv{
    margin: auto;
    margin-top:2%;
    width: 70%;
    height: 65%;
  }

  .carts{
    width: 100%;
    height: 80%;
    overflow-y: scroll;
  }
  .cart{
    width: 31.3%;
    margin-top: 10px;
    height: 70%;
    border: 4px solid rgb(39, 39, 39);
    border-radius: 15px;
    float: left;
    margin-right: 1.1%;
    text-align: center;
    position: relative
  }

  .cart:hover{
    border-color: #23d5ab;
    transition: 200ms;
  }

  .txtForEachSample{
    text-align: justify; 
    max-width: inherit; 
    max-height: 70%; 
    margin: 5px; 
    font-size: 150%;
    overflow-y: auto;
  }
  .titleForEachSample{
    font-size: 200%;
    margin: 0px;
    text-decoration: underline;
  }

}