@font-face {
  font-family: 'handlee';
  src: url('../fonts/Handlee.ttf');
}




/* For Mobiles */
.mainTitle{
  margin-top: 50px; 
  margin-left: 50px; 
  font-size: 1000%;
}
.mainImg{
  object-fit: scale-down;
  width: 80%;
  float: right;
  cursor: pointer;
}

.mainImg:hover{
  transform: rotate(270deg);
  transition: 200ms;
}

.mainMenu{
  font-size: 30%;
  text-decoration: underline overline;
}

.detailsBtn{
  font-size: 125%;
  color: darkorange;
  margin-left: 10%;
  font-style: oblique;
  text-decoration: underline wavy;
  cursor: pointer !important;
}

.detailsBtn:hover{
  font-weight: bold;
  color: darkcyan;
  transition: 300ms;
}

.mainMenuDiv{
  margin-left: 2%; 
  display: inline-block;
}

.mainTextDiv{
  width: 100%; 
  margin-top: 10px; 
  margin-left: 30px;
  float: left; 
  font-size: 230%;
}

.mainImgDiv{
  width: 90%; display: inline-block;
}



/* For Tablets */
@media only screen and (min-width: 550px) {
  .mainTitle{
    margin-top: 50px; 
    margin-left: 50px; 
    font-size: 500%;
  }
  .mainImg{
    object-fit: scale-down;
    width: 90%;
    float: right;
  }
  .mainMenu{
    font-size: 40%;
    text-decoration: underline overline;
  }

  .detailsBtn{
    font-size: 125%;
    color: darkorange;
    margin-left: 10%;
    font-style: oblique;
    text-decoration: underline wavy;
  }

  .mainMenuDiv{
    margin-left: 1%; 
    display: inline-block;
  }

  .mainTextDiv{
    width: 100%; 
    margin-top: 10px; 
    margin-left: 30px;
    float: left; 
    font-size: 230%;
  }

  .mainImgDiv{
    width: 90%; display: inline-block;
  }
}

@media only screen and (min-width: 1300px){
  .mainTitle{
    margin-top: 50px; 
    margin-left: 50px; 
    font-size: 500%;
  }
  .mainImg{
    object-fit: scale-down;
    width: 90%;
    float: right;
  }
  .mainMenu{
    font-size: 33%;
    text-decoration: underline overline;
  }

  .detailsBtn{
    font-size: 125%;
    color: darkorange;
    margin-left: 10%;
    font-style: oblique;
    text-decoration: underline wavy;
  }

  .mainMenuDiv{
    margin-left: 13%; 
    display: inline-block;
  }

  .mainTextDiv{
    width: 50%; 
    margin-top: 10px; 
    margin-left: 30px;
    float: left; 
    font-size: 230%;
  }

  .mainImgDiv{
    width: 45%; display: inline-block;
  }
}



@media only screen and (min-width: 1650px){
  .mainTitle{
    margin-top: 50px; 
    margin-left: 50px; 
    font-size: 500%;
  }
  .mainImg{
    object-fit: scale-down;
    margin-top: 2%;
    width: 80%;
    float: right;
    position: inherit;
    z-index: -1 !important;
  }
  .mainMenu{
    font-size: 35%;
  }

  .detailsBtn{
    font-size: 125%;
    color: darkorange;
    margin-left: 10%;
    font-style: oblique;
    text-decoration: underline wavy;
  }

  .mainMenuDiv{
    margin-left: 35%; 
    display: inline-block;
  }

  .mainTextDiv{
    width: 50%; 
    margin-top: 10px; 
    margin-left: 30px;
    float: left; 
    font-size: 230%;
  }

  .mainImgDiv{
    width: 45%; display: inline-block;
  }
}